<footer class="footer footer-black">
    <div class="container">
        <a class="footer-brand" href="#pablo">Runvasport</a>


        <ul class="pull-center">
            <li>
                <a href="#pablo">
                   Blog
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Presentation
                </a>
            </li>
            <li>
                <a href="#pablo">
                   Discover
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Payment
                </a>
            </li>
            <li>
                <a href="#pablo">
                    Contact Us
                </a>
            </li>
        </ul>

        <ul class="social-buttons pull-right">
            <li>
                <a href="https://twitter.com/" target="_blank" class="btn btn-just-icon btn-simple">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank" class="btn btn-just-icon btn-simple">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" class="btn btn-just-icon btn-simple">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>

    </div>
</footer>