<div class="container">
    <div class="m-1">

        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="form-group form-white is-empty">
                    <input type="text" value="" placeholder="Nombre evento" class="form-control">
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="form-group form-white is-empty">
                    <select type="text" value="" placeholder="Deporte" class="form-control">
                        <option value="atletismo">Atletismo</option>
                        <option value="ciclismo">Ciclismo</option>
                    </select>
                    <span class="material-input"></span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group form-white is-empty">
                    <input type="text" value="" placeholder="Participantes estimados" class="form-control">
                    <span class="material-input"></span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4">
                <div class="form-group form-white is-empty">
                    <input type="" value="" placeholder="Limite de participantes" class="form-control">
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="form-group form-white is-empty">
                    <input type="text" value="" placeholder="Regular" class="form-control">
                    <span class="material-input"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="form-group form-white is-empty">
                    <input type="text" value="" placeholder="Regular" class="form-control">
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
    </div>
</div>