<div style="margin:10px">
    <div class="col-md-11">
        <div class="card card-nav-tabs">
            <div class="header header-primary">
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                <div class="container-runva">
                    <span>
            <h4 class="card-title">&nbsp;&nbsp;<i class="fas fa-plus-square icon-big"></i>&nbsp; Nuevo Evento</h4>
          </span>
                </div>
            </div>
            <div class="card-content">
                <form id="formNewEvent" novalidate="" [formGroup]="formNewEvent" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-raised">
                                    <img src="../../../../assets/images/image_placeholde.jpg" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                <div>
                                    <span class="btn btn-raised btn-round btn-default btn-file">
											<span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
                                    </span>
                                    <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                </div>
                            </div>
                        </div>
                        <!-- Input text name -->
                        <div class="col-sm-4">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label" [ngClass]="{'error': formNewEvent.controls['name'].errors && (formNewEvent.controls['name'].dirty || formNewEvent.controls['name'].touched)}">name</label>
                                <input formControlName="name" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <!-- / -->
                        <!-- Select sport -->
                        <div class="col-sm-4">
                            <div class="form-group  label-floating is-empty">
                                <label class="control-label">Deporte</label>
                                <select type="name" formControlName="sport" class="form-control">
                                  <option value="" disabled selected></option>
                                  <option>Running/Atletismo</option>
                                  <option>Ciclismo</option>
                                  <option>Triatlon</option>
                				</select>
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="label-control">Inicio evento</label>
                                <input type="date" formControlName="dateIni" class="form-control datepicker" value="10/10/2016">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="label-control">Fin evento</label>
                                <input type="date" formControlName="dateEnd" class="form-control datepicker" value="10/10/2016">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group  label-floating is-empty">
                                <label class="control-label">Lugar</label>
                                <input formControlName="place" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group  label-floating is-empty">
                                <label class="control-label">Direccion</label>
                                <input formControlName="address" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group  label-floating is-empty">
                                <label class="control-label">Pais</label>
                                <input formControlName="country" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group  label-floating is-empty">
                                <label class="control-label">Provincia</label>
                                <input formControlName="provincia" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-runva">
                <button style="display:block; float:right" (click)="createEvent()" class="btn btn-primary">Enviar<div
                class="ripple-container-runva"></div></button>
            </div>
        </div>
    </div>
</div>