<div class="container">
    <div class="row">
        <!-- Input text name -->
        <div class="col-lg-3 col-sm-4">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Nombre</label>
                <input type="text" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
        <!-- / -->
        <!-- Select Sport -->
        <div class="col-lg-3 col-sm-4">
            <div class="form-group  label-floating is-empty">
                <label class="control-label">Deporte</label>
                <select type="name" class="form-control">
                        <option value="" disabled selected></option>
                        <option>Running/Atletismo</option>
                        <option>Ciclismo</option>
                        <option>Triatlon</option>
                    </select>
                <span class="material-input"></span>
            </div>
        </div>
        <!-- / -->
        <!-- Input archive image -->
        <div class="col-lg-3 col-sm-4">
            <div class="form-group form-file-upload is-empty is-fileinput">
                <input type="file" id="inputFile2" multiple="">
                <div class="input-group">
                    <input type="text" readonly="" class="form-control" placeholder="Imagen">
                    <span class="input-group-btn input-group-s">
                        <button type="button" class="btn btn-just-icon btn-round btn-primary">
                            <i class="material-icons">attach_file</i>
                        </button>
                    </span>
                </div>
                <span class="material-input"></span>
            </div>
        </div>
        <!-- / -->
        <!-- Input number estimated participants -->
        <div class="col-lg-3 col-sm-4">
            <div class="form-group  label-floating is-empty">
                <label class="control-label">Participantes estimados</label>
                <input type="number" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
        <!-- / -->
        <!-- Input number limited participants -->
        <div class="col-lg-3 col-sm-4">
            <div class="form-group  label-floating is-empty">
                <label class="control-label">Limite participantes</label>
                <input type="number" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
        <!-- / -->
        <div class="col-lg-3 col-sm-4">

        </div>

    </div>
</div>