<div class="main main-raised">
    <div class="container" style="margin-bottom: 10px">
        <div class="row">
            <div class="col-md-5">
                <h2 class="title">Consulta</h2>
                <h5 class="description">¿Necesitas mas información? Puedes contactar con nosotros para cualquier duda o sugerencia a través del siguiente formulario</h5>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">pin_drop</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Localizacion</h4>
                        <p> C/Estadio<br> 47006 Valladolid,<br> España
                        </p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">phone</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Telefono</h4>
                        <p> Runvasport comercial<br> +35 662 321 762<br> Lun - Fri, 8:00-22:00
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="card card-contact">
                    <form role="form" id="contact-form" method="post">
                        <div class="header header-raised header-primary text-center">
                            <h4 class="card-title">Contactanos</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Nombre</label>
                                        <input type="text" name="name" class="form-control">
                                        <span class="material-input"></span></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Apellido</label>
                                        <input type="text" name="name" class="form-control">
                                        <span class="material-input"></span></div>
                                </div>
                            </div>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Email</label>
                                <input type="email" name="email" class="form-control">
                                <span class="material-input"></span></div>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Tu mensaje...</label>
                                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                                <span class="material-input"></span></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary pull-right">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>