<nav class="navbar navbar-inverse navbar-primary" role="navigation-demo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

            <a class="navbar-brand" href="#pablo">Panel Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a><span><i class="fas fa-user"></i></span>
                Hola Justino
            </a>
                </li>
                <li>
                    <a href="#pablo">
                        Cerrar sesion
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>

<div style="margin: 20px">
    <router-outlet></router-outlet>
</div>