<nav class="navbar navbar-inverse navbar-primary" role="navigation-demo">
    <div class="container">
        <!-- Breadcrumb -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#pablo">Administrador</a>
        </div>

        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-calendar-alt"></i>&nbsp;Eventos
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#admin/eventos">Mis eventos</a></li>
                        <li><a href="#admin/eventos/nuevo">Crear evento</a></li>
                        <li><a href="#">Actualizar eventos</a></li>
                        <li><a href="#">Eliminar eventos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tags"></i>&nbsp;Cupones
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Mis cupones</a></li>
                        <li><a href="#">Crear cupon</a></li>
                        <li><a href="#">Actualizar cupones</a></li>
                        <li><a href="#">Eliminar cupones</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-users"></i>&nbsp;Usuarios
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Ver Usuarios</a></li>
                        <li><a href="#">Crear usuario</a></li>
                        <li><a href="#">Actualizar usuario</a></li>
                        <li><a href="#">Eliminar usuario</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-address-card"></i>&nbsp;Mi perfil
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Ver perfil</a></li>
                        <li><a href="#home">Cerrar sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>
<div style="margin: 10px">
    <div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills nav-pills-icons nav-stacked" role="tablist">
                <li class="active ">
                    <a [routerLink]="['/admin/eventos']" role="tab" data-toggle="tab">
                        <i class="material-icons">dashboard</i> Dashboard
                    </a>
                </li>
                <li>
                    <a routerLinkActive="router-link-active" role="tab" data-toggle="tab">
                        <i class="fas fa-calendar-plus"></i>Evento
                    </a>
                </li>
                <li>
                    <a href="" role="tab" data-toggle="tab">
                        <i class="fas fa-sliders-h"></i> Ajustes
                    </a>
                </li>
                <li>
                    <a href="" role="tab" data-toggle="tab">
                        <i class="fas fa-address-card"></i> Perfil
                    </a>
                </li>
            </ul>
        </div>

        <router-outlet></router-outlet>
    </div>

</div>