<div class="main main-raised">
    <div class="container" style="margin-bottom: 10px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h3 class="title">Organizamos tu evento deportivo</h3>
                    <p class="description">
                        Nosotros nos ponemos en contacto con todos los servicios que necesitas
                    </p>
                </div>
                <div class="card card-raised card-form-horizontal">
                    <div class="card-content">
                        <form method="" action="">
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">mail</i>
                                        </span>
                                        <div class="form-group is-empty"><input type="email" value="" placeholder="Your Email..." class="form-control"><span class="material-input"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary btn-block">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <h5>
                Somos RUNVASPORT, una empresa especializada en la organización y gestión de eventos deportivos. Nuestra empresa es el resultado años de experiencia en el mundo del deporte y de una pasión, entender el deporte una forma de ocio y de vida saludable. Nuestra
                amplia experiencia en el mundo del deporte nos permite abarcar cualquier tipo de proyecto o evento deportivo. Todo ello nos permite abarcar una gran variedad de eventos deportivos, independientemente del tamaño o la disciplina. Apostamos
                por la profesionalidad, compromiso y eficiencia en nuestros servicios, pensando siempre en el deportista como elemento principal de la actividad. Ofrecemos de una amplia variedad de servicios para dotar de toda la infraestructura necesaria,
                a cualquier tipo de evento deportivo. Contamos con el equipamiento y material necesario, así como un experimentado equipo de profesionales para ofrecer la solución más acorde a las necesidades y características que plantee el evento deportivo
                en cuestión. Además de los eventos propios que proponemos, realizamos la gestión integral de eventos para cualquier tipo, colaborando activamente en la organización con otras entidades, ya sean empresas, asociaciones u organismos públicos.
            </h5>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="rotating-card-container" style="height: 252px; margin-bottom: 30px;">
                    <div class="card card-rotate">
                        <div class="front" style="height: 252px; width: 455px;">
                            <div class="card-content">
                                <h1 class="category-social">
                                    <div style="text-align: center;">
                                        <i class="fas fa-stopwatch"></i>
                                        <br>
                                        <span>Cronometraje</span>
                                    </div>
                                </h1>
                            </div>
                        </div>

                        <div class="back" style="height: 252px; width: 455px;">
                            <div class="card-content">
                                <p>
                                    Runvasport dispone de las últimas tecnologias orientadas al mundo del cronometraje deportivo. Contamos con un modelo de cronometraje, Certificado por la RFEA, con sistemas de chip reutilizable que nos permite ofrecer la mejor solución adaptada a las características
                                    de cada evento, dando respuesta a las necesidades del organizador. Los resultados de cada corredor se obtienen en tiempo real, permitiendo que una vez finalizado el evento, las clasificaciones pueden exponerse en linea
                                    de meta y entregarse al organizador para la entrega de trofeos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rotating-card-container" style="height: 252px; margin-bottom: 30px;">
                    <div class="card card-rotate">
                        <div class="front" style="height: 252px; width: 455px;">
                            <div class="card-content">
                                <h1 class="category-social">
                                    <div style="text-align: center;">
                                        <i class="fas fa-drafting-compass"></i>
                                        <br>
                                        <span>Diseños</span>
                                    </div>
                                </h1>
                            </div>
                        </div>

                        <div class="back" style="height: 252px; width: 455px;">
                            <div class="card-content">
                                <span>LONAS PUBspanCITARIAS</span>
                                <span>PHOTOCALL</span>
                                <span>ARCOS DE META</span>
                                <span>ROLLER UP</span>
                                <span>BANDEROLAS</span>
                                <span>DORSALES</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rotating-card-container" style="height: 252px; margin-bottom: 30px;">
                    <div class="card card-rotate">
                        <div class="front" style="height: 252px; width: 455px;">
                            <div class="card-content">
                                <h1 class="category-social">
                                    <div style="text-align: center;">
                                        <i class="fas fa-people-carry"></i>
                                        <br>
                                        <span>Montaje</span>
                                    </div>
                                </h1>
                            </div>
                        </div>
                        <div class="back" style="height: 252px; width: 455px;">
                            <div class="card-content">
                                <span> VALLAS DE SEGURIDAD INCLINADAS</span>
                                <span> ARCOS DE SALIDA Y META</span>
                                <span> CARPAS PLEGABLES</span>
                                <span> TRUST</span>
                                <span> RELOJES</span>
                                <span> PODIUM PERSONALIDO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>