<div class="main main-raised">
    <div class="container" style="margin-bottom: 20px">
        <div style="padding: 20px;">
            <div class="row text-center">
                <div style="text-align: center;">
                    <div class="btn-group">
                        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
                            Anterior
                        </div>
                        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
                            Actual
                        </div>
                        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
                            Proximo
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
                </div>
            </div>
            <br /> `
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="calendarEvents" (beforeViewRender)="updateCalendarEvents($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="calendarEvents" (beforeViewRender)="updateCalendarEvents($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="calendarEvents" (beforeViewRender)="updateCalendarEvents($event)">
                </mwl-calendar-day-view>
            </div>
        </div>
    </div>
</div>