<nav class="navbar navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" (click)="redirect()">Inicio</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a (click)="navigateCalendar()">
                        <i class="material-icons">apps</i> Calendario
                    </a>
                </li>
                <li>
                    <a (click)="navigateOrgan()">
                        <i class="material-icons">apps</i> Organizamos
                    </a>
                </li>
                <li>
                    <a (click)="navigateContact()">
                        <i class="material-icons">apps</i> Contacto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>